.Div-box {
    align-items: center;
    justify-content: center;
    border: 1px solid #ff0000;
    display: flex;
    flex-direction: row;
}

.post-card{
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
}

.created-on {
  font-size: 14px;
  font-style: italic;
  color: #495057;
}
