/* .Tile-panel {
    align-items: center;
    justify-content: center;
    border: 1px solid #ff0000;
    display: flex;
    flex-direction: column;
  }

  .Tile {
    float: left;
    font-size: 12px;
    width: 33%;
  }

  .Tile-row:after {
    clear: both;
    content: "";
    display: table;
    width: 100%;
  }

  .Tile-images {
    border: 1% solid #ddd;
    border-radius: 2%;
    width: 30%;
  } */

  .tile-img {
    height: 180px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

.Tile-row:first-of-type {
  margin-top: 20px;
}
